*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

         div.overall{
             width: 25%;
            height: fit-content;
            /* padding: 20px 20px; */
            /* background-color: red; */
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            margin: 20px auto;
        }

        .reg{
            background-color: rgb(4, 4, 106);
            color: white;
            font-weight: bold;
            padding: 20px 40px;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        div.reg p.gist{
            margin-bottom: 10px;
        }
        form{
            width: 100%;
            height: fit-content;
            padding: 20px 20px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
            /* margin: 20px auto; */
        }

        label, input{
            cursor: pointer;
            display: block;
            font-family: calibri;

        }

        input{
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            outline: none;
            margin-bottom: 1.5rem;
        }

         button{
            width: 100%;
            border: none;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px 10px;
            text-align: center;
            cursor: pointer;
            background-color: rgb(4, 4, 106);
            color: white;
            transition: all 0.5s linear;
        }

        button:hover{
            background-color: blue;
        }

        .own{
            width: 100%;
            position: relative;
        }

        .font{
            position: absolute;
            top: 50%;
            right: 10px;
            cursor: pointer;
            color: red;
            background-color: white;
        }

git add .
git commit -m "css commit"
git push