*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

         div.overall{
             width: 25%;
            height: fit-content;
            /* padding: 20px 20px; */
            /* background-color: red; */
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            margin: 20px auto;
        }

        .reg{
            background-color: rgb(4, 4, 106);
            color: white;
            font-weight: bold;
            padding: 20px 40px;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        div.reg p.gist{
            margin-bottom: 10px;
        }
        form{
            width: 100%;
            height: fit-content;
            padding: 20px 20px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
            /* margin: 20px auto; */
        }

/* git add .
git commit -m "css commit"
git push */